[submodule "python-machine-learning-book-3rd-edition"]
	path = python-machine-learning-book-3rd-edition
	url = git@github.com:rasbt/python-machine-learning-book-3rd-edition.git
[submodule "fever-allennlp"]
	path = fever-allennlp
	url = git@github.com:gruentee/fever-allennlp.git
[submodule "naacl2018-fever"]
	path = naacl2018-fever
	url = git@github.com:sheffieldnlp/naacl2018-fever.git
[submodule "fever2-sample"]
	path = fever2-sample
	url = git@github.com:gruentee/fever2-sample.git
